/* Scrolling */

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

article {
}


/* Layout */

:root {
	--body-padding-block: var(--space-600);
	--body-padding-inline: var(--space-700);
	--row-gap: var(--space-700);
	--column-gap: var(--space-700);
}

body {
	padding: 0;
}

main {
	margin-inline: auto;
	inline-size: max-content;
	max-inline-size: calc(60ch + 2 * var(--body-padding-inline));
}

article {
	scroll-margin-block-start: calc(var(--section-space) / 2);
}

#navigation {
	--sidebar-inline-size: 25rem;
	position: sticky;
	top: 0;
	height: 100vh;
	height: 100dvh;
	z-index: 1000;
	inset-block-start: 0;
	background-color: var(--background-color);
	inline-size: max-content;
	max-inline-size: var(--sidebar-inline-size);
	background-color: var(--background-color);
}

#navigation:not([open]) {
	--sidebar-inline-size: 0;
}

#navigation > summary {
	list-style-type: none;
	position: absolute;
	background-color: var(--text-color);
}

#navigation > summary + * {
	margin-block-start: unset;
}

/**
 * Separators
 *
 * 1. Disabled for sake of headings at the moment
 */

:where(article) {
	position: relative;
}

article + article::before {
	content: '❋\2003❋\2003❋';
	content: none; /* 1 */
	position: relative;
	display: block;
	inset-block-start: calc(-1 * var(--body-padding-block) - .5em);
	line-height: 1;
	text-align: center;
	opacity: .4;
}
