/* Scrolling */

:root {
	scroll-padding-block: calc(var(--section-space) / 2);
	scroll-snap-type: block proximity;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

article {
}


/* Layout */

:root {
	--body-padding-block: var(--space-600);
	--body-padding-inline: var(--space-700);
	--row-gap: var(--space-700);
	--column-gap: var(--space-700);
}

body {
	padding: 0;
}

main {
	margin-inline: auto;
	inline-size: max-content;
	max-inline-size: 60ch;
}

main > * {
	margin-block-start: 0;
}

nav,
article {
	box-sizing: border-box;
	padding-block: var(--body-padding-block);
	padding-inline: var(--body-padding-inline);
	scroll-snap-align: start;
}

nav {
	--sidebar-inline-size: 20rem;
	position: sticky;
	inset-block-start: 0;
	background-color: var(--background-color);
}

nav summary {
	list-style-type: none;
}

nav summary::-webkit-details-marker {
	display: none;
}
