/* Scrolling */

:root {
	scroll-padding-block: var(--body-padding-block);
	scroll-snap-type: block proximity;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

article {
}


/* Layout */

:root {
	--body-padding-block: var(--space-600);
	--body-padding-inline: var(--space-700);
	--row-gap: var(--space-700);
	--column-gap: var(--space-700);
}

body {
	padding: 0;
}

body > nav {
	position: sticky;
	top: 0;
	height: 100vh;
	height: 100dvh;
}

main {
	margin-inline: auto;
	inline-size: max-content;
	max-inline-size: 60ch;
}

main > * {
	margin-block-start: 0;
}

/* Temporary */

nav,
article {
	box-sizing: border-box;
	padding-block: var(--body-padding-block);
	padding-inline: var(--body-padding-inline);
	scroll-snap-align: start;
}

#navigation {
	--sidebar-inline-size: 25rem;
	position: sticky;
	top: 0;
	height: 100vh;
	height: 100dvh;
	z-index: 1000;
	inset-block-start: 0;
	background-color: var(--background-color);
	inline-size: max-content;
	max-inline-size: var(--sidebar-inline-size);
	background-color: var(--background-color);
}

#navigation:not([open]) {
	--sidebar-inline-size: 0;
}

#navigation > summary {
	list-style-type: none;
	position: absolute;
	background-color: var(--text-color);
}

#navigation > summary + * {
	margin-block-start: unset;
}

/**
 * Separators
 *
 * 1. Temporary removal of headings
 */

:where(article) {
	position: relative;
}

article + article::before {
	content: '❋\2003❋\2003❋';
	position: relative;
	display: block;
	inset-block-start: calc(-1 * var(--body-padding-block) - .5em);
	line-height: 1;
	text-align: center;
	opacity: .4;
}

main h1 {
	display: none; /* 1 */
}

main h1 + * {
	margin-block-start: unset; /* 1 */
}
